
# macOS system files
.DS_Store
img/.DS_Store

# IDE
.idea/
.vscode/

# VSCode settings
.vscode/

# Python
venv/
env/
*.pyc
__pycache__/

# Logs and temp files
*.log
*.swp
*.swo
*~

# Notes & Docs
notes/
